{% import 'macros.html' as macros %} {% extends "dashboard/dashboard_base.html" %} {%
block title %}new draft{% endblock %} 
{% block stylesheets %}
<script src="https://use.fontawesome.com/55ae3698a0.js"></script>
{% endblock stylesheets %}

{% block header_title %}
{{ mail_type }}
{% endblock header_title %}

{% block header_btn %}
{% endblock header_btn %}


{% block page_table %}

<div class="row row-card-no-pd">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-head-row card-tools-still-right">
          <h4 class="card-title">Compose a new mail</h4>

        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 .col-sm-6 .col-lg-8">
            <form method="POST" action="">
             
              {{ form.hidden_tag() }}

              <!---recipient id      subject      priority-->
              <div class="form-row">
               {% if mail_type != 'Draft' %}
                  {{ macros.render_floating_form_gp(form.recipient_id) }}
               {% endif %} 
                <div class="col">
                  {{ macros.render_floating_form_gp(form.subject) }}
                </div>
                <div class="col">
                  <div class="form-group form-floating-label">
                    {{ form.priority(class="form-control input-border-bottom")
                    }}
                  </div>
                </div>
              </div>

              <!--synopsis-->
              <div class="form-group row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Synopsis</span>
                  </div>
                  {% if form.synopsys.errors %} {{ form.synopsys("form-control
                  is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.synopsys(class="form-control") }} {% endif
                  %}
                </div>
              </div>
                  {% if form.content.errors %}
                      {{ form.content(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.content.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.content(class="form-control" , rows="10") }}
                  {% endif %}
                </div>
              
              
                <!--attachment-->
              <div class="form-group">
                <div class="demo-icon">
                   <div class="icon-preview">
                     <i class="la flaticon-tool"></i>
                    </div> 
                    <div class="icon-class">
                      <input
                        type="file"
                        class="form-control-file"
                        id="exampleFormControlFile1"
                      />
                    </div>
                   </div>

              </div>

              
              <div class="form-group">
                
                
                <p class="demo">
                 
                  {{ form.cancel(class="btn btn-default") }}
                  
                  {% if mail_type == 'New Mail' %}
                  {{ form.draft(class="btn btn-secondary") }}
                   {% endif %}

                  {{ form.send(class="btn btn-primary") }}
                </p>

                </div>
                
              </div>


            </form>
          </div>
          <!-- <div class="col-md-6"> --->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock page_table %}
