{% extends 'dashboard/dashboard_base.html' %} 
{% block title %}Inbox{% endblock title%}

{% block header_title %}
 Inbox 
{% endblock header_title %} 
{% block header_btn %}
{% endblock header_btn %}
{% block header_sub %}  {% endblock header_sub %}
{% block page_table %}
<div class="row mt--2">
  <!--if favorite is move to another page moke inbox col-md12 else col-12Inbox col-md-8-->
<div class="col-12">
  <div class="card">
    <!-- <div class="card-header"> -->
    <!-- <div class="card-title">My Contacts</div> -->
    <!-- </div> -->
    <div class="card-body">
      <!-- <div class="card-title fw-mediumbold">Inbox</div> -->
      <table class="table table-head-bg-primary col-md-12 table-responsive">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Preview</th>
            <th scope="col" class="text-center"> Status </th>
            <th scope="col" colspan="2" class="text-center">Attachment</th>
            <th scope="col" colspan="2" class="text-center">Date</th>
            <th scope="col" colspan="2" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for mail in inbox %}
          <tr>
            <td colspan="2">{{ mail.recipient_name }} {{ mail.recipient_last_name}}</td>
            <td >{{ mail.mail_subject }}</td>
            <td >{{ mail.mail_synopsys }}</td>
            <td colspan="2">{{ mail.recipient_read }}</td>
            <td>   
                {% if mail.mail_attachments %}
                    yes
                {% else %}
                    no            
                {% endif %}
          </td>
            <td colspan="2">{{ mail.mail_composed_date }}</td>
            <td colspan="2">

              <button class="btn btn-primary btn-border btn-round"> view </button>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---most frequent--->
<!-- <div class="col-md-4 ml-auto">
  <div class="card card-round">
    <div class="card-body">
      <div class="card-title fw-mediumbold">Suggested People</div>
      <div class="card-list">
        {% for contact in contacts %}
        <div class="item-list">
          <div class="avatar">
            <img
              src="/static/assets/img/talha.jpg"
              alt="..."
              class="avatar-img rounded-circle"
            />
          </div>
          <div class="info-user ml-3">
            <div class="Name">{{ contact.name }}</div>
            <div class="Post title">{{ contact.post_title}}</div>
          </div>
          <button class="btn btn-icon btn-primary btn-round btn-xs">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> -->
</div>  
{% endblock page_table %}</div>
