<!---render field and error -->

{% macro render_form_field(form_field, field_class, error_class) %} {{
form_field.label(class="{{ field_class }}") }} {% if form_field.errors %} {{
form_field(class="form-control form-control-lg is-invalid") }}
<div class="invalid-feedback">
  {% for error in form_field.errors %}
  <span>{{ error }}</span>
  {% endfor %}
</div>
{% else %} {{ form_field(class="form-control form-control-lg") }} {% endif %} {%
endmacro %}

<!--render form-floating input group-->
{% macro render_floating_form_gp(form_field) %}
<div class="col">
  <div class="form-group form-floating-label">
    {% if form_field.errors %} {{ form_field(class="form-control
    input-border-bottom is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form_field.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form_field(class="form-control input-border-bottom") }} {%
    endif %} {{ form_field.label(class="placeholder") }}
  </div>
</div>

{% endmacro %}

{% macro render_table(header, rows, ref_func) %}
  
{% endmacro %}
